<template>
  <div class="page-container">
    <p>404</p>
  </div>
</template>

<script lang="ts">
  import { Component, Vue } from 'vue-property-decorator';

  @Component
  export default class Page404 extends Vue {}
</script>

<style scoped>
</style>
