<template>
  <div class="page-container">
    <header>
      <div class="title">{{ title }}</div>
    </header>
    <main>
      <Card class="main-card">
        <template v-slot:title>{{ $t('homeTitle') }}</template>
        <p class="description">{{ $t('homeDescription') }}</p>
        <p class="rules">{{ $t('gameInfoHeader') }}</p>
        <ul>
          <li>{{ $t('gameInfo1') }}</li>
          <li>{{ $t('gameInfo2') }}</li>
          <li>{{ $t('gameInfo3') }}</li>
          <li>{{ $t('gameInfo4') }}</li>
        </ul>
        <template v-slot:buttonRowRight>
          <Button v-on:click="start" class="start-button">{{ $t('start') }}</Button>
        </template>
      </Card>
    </main>
  </div>
</template>

<script lang="ts">
  import { mixins } from 'vue-class-component';
  import { Component, Vue } from 'vue-property-decorator';

  import { router } from '@app/router';

  import Button from '@app/components/button.vue';
  import Card from '@app/components/card.vue';

  import QuestionMixin from '@app/mixins/question.vue';

  @Component({
    components: {
      Button,
      Card,
    },
  })
  export default class PageHome extends mixins(QuestionMixin) {
    public title = process.env.VUE_APP_NAME;

    public start() {
      this.createQuiz(10);
      this.$router.push('/quiz');
    }
  }
</script>

<style scoped>
  .page-container {
    background-color: var(--primary, #fff);
    align-items: center;
    justify-content: center;
  }

  .title {
    text-align: center;
    padding: 1vmin;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  .start-button {
    --button-bg: var(--primary);
    --button-hover-bg: var(--primary-dark);
    --button-text: var(--white);
  }

  .main-card {
    width: 75vw;
    min-width: 350px;
    max-width: 650px;
  }
</style>
