<template>
  <div class="page-container">
    <header>
      <div class="title">{{ title }}</div>
    </header>
    <main>
      <Card class="main-card">
        <template v-slot:title>{{ questionText }}</template>
        <div class="answer-section">
          <Button
            v-for="choice in questionChoices"
            v-on:click="answer(choice)"
            class="answer-button"
            :key="choice">{{ choice }}</Button>
        </div>
        <template v-slot:buttonRowLeft>
          <span class="timer">{{ seconds }}</span>
        </template>
        <template v-slot:buttonRowRight>
          <Button v-on:click="lifeline('fiftyfifty')" v-bind:disabled="!fiftyfiftyAvailable" class="fiftyfifty-button">{{ $t('fiftyfifty') }}</Button>
          <Button v-on:click="lifeline('plusten')" v-bind:disabled="!plustenAvailable" class="plusten-button">{{ $t('plusten') }}</Button>
        </template>
      </Card>
    </main>
  </div>
</template>

<script lang="ts">
  import { mixins } from 'vue-class-component';
  import { Component, Vue, Watch } from 'vue-property-decorator';

  import { router } from '@app/router';

  import Button from '@app/components/button.vue';
  import Card from '@app/components/card.vue';

  import { Question } from '@app/models/question';
  
  import TimerMixin from '@app/mixins/timer.vue';

  @Component({
    components: {
      Button,
      Card,
    },
  })
  export default class PageQuiz extends mixins(TimerMixin) {
    public title = process.env.VUE_APP_NAME;

    private mounted() {
      this.$on('done', () => {
        this.answer('');
      });

      this.startTimer(15);
    }

    private lifeline(type: string) {
      if (type === 'plusten' && this.plustenAvailable) {
        this.addTime(10);
        this.$store.dispatch('consumeLifeline', type);
      } else if (type === 'fiftyfifty' && this.fiftyfiftyAvailable) {
        this.$store.dispatch('consumeLifeline', type);
      }
    }

    private answer(answer: string) {
      this.$store.dispatch('answerActiveQuestion', { answer, stats: {
        timeTaken: this.getTimeTaken(),
      } });
    }

    get currentQuestion(): Question {
      return this.$store.getters.currentQuestion;
    }

    get locale(): string {
      return this.$store.getters.locale;
    }

    get questionText(): string {
      return (this.currentQuestion)
        ? this.currentQuestion.getQuestion(this.locale) || ''
        : '';
    }

    get questionChoices(): string[] {
      return (this.currentQuestion)
        ? this.currentQuestion.getChoices(this.locale) || []
        : [];
    }

    get fiftyfiftyAvailable(): boolean {
      return this.$store.getters.fiftyfiftyAvailable;
    }

    get plustenAvailable(): boolean {
      return this.$store.getters.plustenAvailable;
    }

    @Watch('currentQuestion')
    private onCurrentQuestionChanged(val: Question | null) {
      if (val === null) {
        this.stopTimer();
        router.push('/result');
      } else {
        this.startTimer(15);
      }
    }
  }
</script>

<style scoped>
  .page-container {
    background-color: var(--primary, #fff);
    align-items: center;
    justify-content: center;
  }

  .title {
    text-align: center;
    padding: 1vmin;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  .main-card {
    width: 75vw;
    min-width: 350px;
    max-width: 650px;
  }

  .fiftyfifty-button,
  .plusten-button {
    --button-bg: var(--primary);
    --button-hover-bg: var(--primary-dark);
    --button-text: var(--white);
    margin-left: 8px;
  }

  .answer-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 8px;
  }

  .answer-button {
    --button-text: var(--white);
    margin: 4px;
  }

  .answer-button:nth-child(1) {
    --button-bg: var(--button1);
    --button-hover-bg: var(--button1-dark);
  }

  .answer-button:nth-child(2) {
    --button-bg: var(--button2);
    --button-hover-bg: var(--button2-dark);
  }

  .answer-button:nth-child(3) {
    --button-bg: var(--button3);
    --button-hover-bg: var(--button3-dark);
  }

  .answer-button:nth-child(4) {
    --button-bg: var(--button4);
    --button-hover-bg: var(--button4-dark);
  }

  .answer-button:nth-child(5) {
    --button-bg: var(--button5);
    --button-hover-bg: var(--button5-dark);
  }

  .timer {
    font-size: 2em;
  }
</style>
