<template>
  <div class="page-container">
    <header>
      <div class="title">{{ title }}</div>
    </header>
    <main>
      <Card class="main-card">
        <template v-slot:title>{{ $t('results') }}</template>
        <div>{{ $t('score') }}: {{ correctAnswerCount }}/{{ answerCount }}</div>
        <div>{{ $t('unansweredQuestions') }}: {{ unansweredCount }}</div>
        <div>{{ $t('totalTimeTaken') }}: {{ getTotalTimeTaken.toFixed(2) }}{{ $t('secondUnit') }}</div>
        <div>{{ $t('averageTimeTaken') }}: {{ (getTotalTimeTaken/answerCount).toFixed(2) }}{{ $t('secondUnit') }}</div>
        <div>{{ $t('fastestTimetaken') }}: {{ (fastestTimeTaken).toFixed(2) }}{{ $t('secondUnit') }}</div>
        <template v-slot:buttonRowRight>
          <Button v-on:click="startAgain" class="start-again-button">{{ $t('startAgain') }}</Button>
        </template>
      </Card>
    </main>
  </div>
</template>

<script lang="ts">
  import { Component, Vue } from 'vue-property-decorator';

  import Button from '@app/components/button.vue';
  import Card from '@app/components/card.vue';

  import { Question } from '@app/models/question';

  @Component({
    components: {
      Button,
      Card,
    },
  })
  export default class PageResult extends Vue {
    public title = process.env.VUE_APP_NAME;

    get answers() {
      return this.$store.getters.quizAnswers;
    }

    get answerCount() {
      return this.answers.length;
    }

    get correctAnswerCount() {
      return this.answers.filter((answer: any) => answer.isChoiceCorrect()).length;
    }

    get unansweredCount() {
      return this.answers.filter((answer: any) => !answer.answered()).length;
    }

    get getTotalTimeTaken() {
      return this.answers.reduce((accumulator: number, current: Question) => {
        accumulator += current.getTimeTaken();
        return accumulator;
      }, 0);
    }

    get fastestTimeTaken() {
      return Math.min(...this.answers.map((question: Question) => question.getTimeTaken()));
    }

    public startAgain(): void {
      this.$store.dispatch('reset');
      this.$router.push('/');
    }
  }
</script>

<style scoped>
  .page-container {
    background-color: var(--primary, #fff);
    align-items: center;
    justify-content: center;
  }

  .title {
    text-align: center;
    padding: 1vmin;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  .start-again-button {
    --button-bg: var(--primary);
    --button-hover-bg: var(--primary-dark);
    --button-text: var(--white);
  }

  .main-card {
    width: 75vw;
    min-width: 350px;
    max-width: 650px;
  }
</style>
