<template>
  <div v-if="disabled" class="button button-disabled">
    <div v-if="icon" class="button-icon"><slot name="icon"></slot></div>
    <div class="button-text"><slot></slot></div>
  </div>
  <a v-else v-bind:href="href" role="button">
    <div v-on:click="$emit('click')" class="button">
      <div v-if="icon" class="button-icon"><slot name="icon"></slot></div>
      <div class="button-text"><slot></slot></div>
    </div>
  </a>
</template>

<script lang="ts">
  import { Component, Vue } from 'vue-property-decorator';

  @Component({
    props: {
      disabled: Boolean,
      href: String,
      icon: String,
    },
  })
  export default class Button extends Vue {}
</script>

<style scoped>
  a, a:hover, a:visited, a:active {
    display: block;
    text-decoration: none;
  }

  .button {
    border-radius: 4px;
    padding: 8px 12px;
    overflow: hidden;
    background: var(--button-bg, #fff);
    transition: background 0.1s ease-in-out;
    color: var(--button-text);
    display: flex;
    align-items: center;
    justify-content: left;
  }

  .button:hover {
    cursor: hand;
    cursor: pointer;
    background: var(--button-hover-bg, #ccc);
  }

  .button-icon {
    display: inline-block;
    height: 24px;
    width: 24px;
    margin-right: 24px;
    margin-left: 12px;
    flex-grow: 0;
  }

  .button-icon svg {
    height: 24px;
    fill: var(--button-text);
  }

  .button-text {
    flex-grow: 1;
    text-align: left;
  }

  .button-disabled:hover,
  .button-disabled {
    background: var(--button-disabled, #ccc);
    opacity: 0.5;
  }
</style>