<template>
  <section>
    <h1>
      <slot name="title"></slot>
    </h1>
    <slot></slot>
    <div class="button-row">
      <div class="left">
        <slot name="buttonRowLeft"></slot>
      </div>
      <div class="right">
        <slot name="buttonRowRight"></slot>
      </div>
    </div>
  </section>
</template>

<script lang="ts">
  import { Component, Vue } from 'vue-property-decorator';

  @Component
  export default class Card extends Vue {}
</script>

<style scoped>
  section {
    background: var(--white);
    border-radius: 4px;
    padding: 16px;
    text-align: left;

    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0,0,0,.12);
  }

  .button-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .button-row .left {
    display: flex;
    flex-direction: row;
    justify-content: flex;
    flex-grow: 1;
  }

  .button-row .right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-grow: 1;
  }
</style>