<script lang='ts'>
  import { Component, Vue } from 'vue-property-decorator';

  import { store } from '@app/store';

  import { shuffleArray } from '@app/helpers/shuffle';

  import { Question, RawQuestionFormat } from '@app/models/question';
  import { Quiz } from '@app/models/quiz';

  import { questions as defaultQuestions } from '@app/assets/questions';

  @Component
  export default class QuestionMixin extends Vue {
    private serviceURI: string | undefined = process.env.QUESTION_SERVICE_URI;
    private availableQuestions: Set<Question> = new Set();

    public createQuiz(numberOfQuestions: number = 1) {
      const quizQuestions: Question[] = shuffleArray(Array.from(this.availableQuestions))
        .slice(0, numberOfQuestions);

      const quiz: Quiz = new Quiz(quizQuestions);

      this.$store.dispatch('createQuiz', quiz);
    }

    private mounted() {
      this.loadQuestions(defaultQuestions);
      this.getQuestions();
    }

    private loadQuestions(questions: RawQuestionFormat[]): void {
      questions.forEach((question: RawQuestionFormat) => {
        this.availableQuestions.add(new Question(question));
      });

      // for offline support maby add to browser storage.
    }

    private getQuestions(): void {
      // get some questions from a remote server using this.serviceURI
      const returnedQuestions: RawQuestionFormat[] = [];

      this.loadQuestions(returnedQuestions);
    }
  }
</script>
