<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script lang='ts'>
  import { Component, Vue } from 'vue-property-decorator';

  @Component
  export default class App extends Vue {}
</script>

<style>
  :root {
    --primary: #26a69a;
    --primary-dark: #1d7d74;
    --secondary: #fff;
    --accent: #ccc;

    --border: #2c3e50;

    --white: #ffffff;

    --primary-text: #2c3e50;

    --button1: #a62632;
    --button1-dark: #7d1d26;
    --button2: #32a626;
    --button2-dark: #267d1d;
    --button3: #9a26a6;
    --button3-dark: #741d7d;
    --button4: #2672a6;
    --button4-dark: #1d567d;
    --button5: #a65a26;
    --button5-dark: #7d441d;
  }

  #app {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: var(--primary-text);

    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  .page-container {
    display: flex;
    width: 100%;
    height: 100%;
  }
</style>